@font-face {
    font-family: angel;
    src: url("../img/angel.otf") format("opentype");
}

.Landing{
    background-color: #e7e5e4;
    overflow: 'auto';
    max-height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/heaven.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.Landing1{
    overflow: 'auto';
    max-height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.shredTitle{
    text-align: center;
    font-size: 60px;
    font-family: angel;
}
.sticks{
    width:600px;
}


/* media queries */

@media only screen and (max-width: 754px) {
    .shredTitle{
        font-size: 60px;
    }
    .sticks{
        width:500px;
    }
}

@media only screen and (max-width: 635px) {
    .shredTitle{
        font-size: 60px;
    }
    .sticks{
        width:300px;
    }
}
@media only screen and (max-width: 545px) {
    .shredTitle{
        font-size: 40px;
    }
    .sticks{
        width:200px;
    }
}