.root{
    margin-bottom: .5%;
}
.MuiAppBar-colorPrimary-8{
    background-color: blue !important;
}
.nav{
    text-align: center;
}
.MuiToolbar-root-37{
    justify-content: center;
}
.appBar{
    display: flex;
    
}