@font-face {
    font-family: murder;
    src: url("../img/murder.otf") format("opentype");
}

.root{
    margin-bottom: .5%;
}

.navH{
    background: linear-gradient(to right, rgb(0, 0, 0),rgb(219, 23, 23), red) !important;
}
.MuiToolbar-root-37{
    justify-content: center;
}

.parent {
    display: flex;
    align-items: center;
    width:30%

}

.shredH{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: murder;
    font-size: 50px !important;
}
.noUnderline{
    text-decoration: none;
    color: black;
}
.rudButton{
    margin-right: 5% !important;
}
.exButton{
    margin-left: 5% !important;
}
