@font-face {
    font-family: murder;
    src: url("../img/murder.otf") format("opentype");
}

.root{
    margin-bottom: .5%;
}

.navH{
    background: linear-gradient(to right, rgb(0, 0, 0),rgb(219, 23, 23), red) !important;
}
.MuiToolbar-root-37{
    justify-content: center;
}

.smallParentH {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
}
.largeParentH{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.switchH{
    position: absolute;
    right: 0;
    margin-right: -20px;
}

.shredH{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: murder;
    font-size: 50px !important;
}
.rudButtonH{
    text-decoration: none;
    margin-right: 5% !important;
}
.rudButtonTH{
    color: white !important;
}
.exButtonH{
    text-decoration: none;
    margin-left: 5% !important;
}
.exButtonTH{
    color: white !important;
}

@media only screen and (max-width: 933px) {
    .shredH{
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 616px) {
    .largeParentH{
        justify-content: start;
    }
}
