@font-face {
    font-family: angel;
    src: url("../img/angel.otf") format("opentype");
}

.root{
    margin-bottom: .5%;
}
.MuiAppBar-colorPrimary-8{
    background: linear-gradient(90deg, #2196F3 40%, #21CBF3 50%) !important;
}

.MuiToolbar-root-37{
    justify-content: center;
}

.parent {
    display: flex;
    align-items: center;
    width:30%

}

.shred{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: angel;
}
.noUnderline{
    text-decoration: none;
    color: black;
    margin-right: 5% !important;
}

.exButton{
    margin-left: 5% !important;
}
.switch{
    margin-right: 20% !important;
}

@media only screen and (max-width: 933px) {
    .shred{
        font-size: 15px;
    }
}