@font-face {
    font-family: murder;
    src: url("../img/murder.otf") format("opentype");
}
.PVideoPlayH{
    border: solid blue;
    background-color: rgb(240, 240, 240);
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    font-family: murder;
    font-size: 30px;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    
    
}
.rudimentUnderVideoH{
    margin-top: 5%;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}
.videoH{
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}
.rudimentTitleH{
    margin-top: 3%;
    color: white;
}


/* media queries */

@media only screen and (max-width: 965px) {
    .videoH{
        width: 426px;
        height: 240px;
    }
    .rudimentUnderVideoH{
        width: 70%;
    }
}

@media only screen and (max-width: 675px) {
    .videoH{
        width: 281px;
        height: 158px;
    }
}
@media only screen and (max-width: 545px) {
    .videoH{
        width: 141px;
        height: 79px;
    }
}
