.PVideoPlayH{
    border: solid blue;
    background-color: rgb(240, 240, 240);
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    
    
}
.rudimentUnderVideoH{
    margin-top: 5%;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}
.videoH{
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}
.rudimentTitleH{
    margin-top: 3%;
    color: white;
}
