
.sideBarH{
    max-height: 100%;
    height: 90vh;
    background: linear-gradient(to right, #000000, #800707);
    overflow: auto;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.playlistItemH{
    font-size: 17px;
    margin-top: 3%;
    margin-left: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: solid white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playLinkH{
    text-decoration: none;
    color: white;
}
.playButtonH{
    margin-right: 5% !important;
    width: 23px;;
}
.deleteButtonH{
    height: 1px;
    cursor: pointer;
}

.avatarH {
    color: white !important;
    background-color: red !important;
}
.userH{
    margin: 12px;
    display: inline-flex;
}
.userNameH{
    margin: 12px;
}
.playListTitleH{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;
    color: white;
}
.playListTitleButtonH{
    margin-left: 16px !important;
    cursor: pointer;
    filter: invert(100%);
}
.playListContainerH{
    text-align: center;
}
.zoomH {
    transition: transform .2s; /* Animation */
}
.zoomH:hover {
    transform: scale(2); 
    
}