
.sideBarH{
    height: 100%;
    height: 90vh;
    background: linear-gradient(to right, #000000, #800707);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.playlistItem{
    font-size: 17px;
    margin-top: 3%;
    margin-left: 10px;
    color: white;
    background-color: rgb(202, 202, 202);
    border: solid black;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playLink{
    text-decoration: none;
    color: white;
}
.playButton{
    background: rgb(46, 216, 46) !important;
    margin-right: 5% !important;
}
.deleteButton{
    height: 1px;
}

.avatarH {
    color: white !important;
    background-color: red !important;
}
.user{
    margin: 12px;
    display: inline-flex;
}
.userName{
    margin: 12px;
}
.playListTitle{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.playListTitleButton{
    margin-top: 20px !important;
    margin-left: 10px !important;
    height: 10px;
}
.playListContainer{
    text-align: center;
}