
.sideBar{
    max-height: 100%;
    height: 90vh;
    overflow: auto;
    background: linear-gradient(to right, #a0a0a0, #2196F3);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.playlistItem{
    font-size: 17px;
    margin-top: 3%;
    margin-left: 10px;
    color: white;
    background-color: rgb(202, 202, 202);
    border: solid black;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playLink{
    text-decoration: none;
    color: white;
}
.playButton{
    margin-right: 5% !important;
    width: 23px;;
}
.deleteButton{
    height: 1px;
    cursor: pointer;
}

.avatar {
    color: white !important;
    background-color: purple !important;
}
.user{
    margin: 12px;
    display: inline-flex;
}
.userName{
    margin: 12px;
}
.playListTitle{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.playListTitleButton{
    margin-left: 16px !important;
    cursor: pointer;
}
.playListContainer{
    text-align: center;
}
.zoom {
    transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(2); 
    
}